.reg {
  height: 100vh;
  background: url(reg-auth-bg.png) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.regCard {
  background-color: #3c3e7d60;
  max-width: max-content;
  border-radius: 0.625rem;
  padding: 1.25rem;
}

.regTitle {
  color: #f2994a;
  font-size: 4rem;
  text-shadow: 0 6px 2px #00000080;
  text-align: center;
}

.regForm {
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.validationText {
  color: tomato;
  min-height: 20px;
}

.inputWrap {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.inputWrap input {
  width: 100%;
}

.passInput {
  padding-right: 3.125rem;
}

.eyeLabel {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2.5rem;
}

.checkPassShow {
  display: none;
}

.eye {
  width: 1.875rem;
  height: 1.875rem;
  background: url(eye.svg) center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.checkPassShow:checked + .eye {
  background: url(eye-blocked.svg) center no-repeat;
  background-size: cover;
}

.regForm button {
  margin: 20px 0 10px;
}

.authLink {
  max-width: max-content;
  color: #9091ae;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .regTitle {
    font-size: 48px;
  }
}

@media (max-width: 400px) {
  .regCard {
    padding: 20px 10px;
  }

  .regTitle {
    font-size: 40px;
  }

  .regForm {
    margin-top: 30px;
  }
}

@media (max-width: 340px) {
  .regTitle {
    font-size: 36px;
  }

  .validationText {
    font-size: 14px;
    min-height: 18px;
  }
}
