.header {
  background-color: #0f1145;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  margin-right: 30px;
}

.nav a {
  color: #b5b5b5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.active {
  border-bottom: 2px solid #99efd0;
  padding: 6px 0 0;
}

.signWrap {
  display: flex;
  gap: 20px;
}

.signWrap a {
  color: #f2994a;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}

.signWrap a:hover {
  opacity: 0.8;
}
