@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Rubik;
  font-weight: 500;
}

.main-wrap {
  background-color: #0f1145;
}

button {
  text-transform: uppercase;
}
